body h2 , h1, p{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}

:root {


    --fs-200: 0.5rem;
    --fs-300: 1rem;
    --fs-400: 1.5rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
    --fs-700: 3rem;
    --fs-800: 3.5rem;
    --fs-900: 4rem;



    --ffheading:"Barlow", sans-serif;;
    --ffbody: 'Open Sans', sans-serif;

}
.flexbox1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex1 h2 {
    padding: 1rem 0rem;
    padding-bottom: 5rem;
    /* text-align: center; */
    font-weight: 300;
    font-size: var(--fs-400);
}
.img {
    display: block;
}
.flex3 h2 {
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 5rem;
    padding-left: 1rem;
    font-weight: 300;
    font-size: var(--fs-400);
}
.flex1 {
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexbox4 h1 {
    margin: 2rem 0rem;
    color: white;
    font-size: var(--fs-500);
    text-align: center;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
.flexbox4 p {
    color: white;
    font-size: var(--fs-300);
    font-weight: 100;
    line-height: 2rem;
    font-family: 'Oswald', sans-serif;
}
.secondary-box3 {
    border-left: 0.5px solid rgb(210, 205, 205);
    padding-left: 2rem;
    height: 440vh;
    /* width: 30vw; */
}
.tags {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-gap: 1rem;
    grid-row-gap: 0.5rem;
    width: 16vw;
}
.secondary-box3 {
    border-left: 0.5px solid rgb(210, 205, 205);
    padding-left: 2rem;
    /* height: 440vh; */
}
.fifthbox h2 {
    width: 82vw;
    margin: auto;
    text-align: center;
    font-size: var(--fs-600);
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}
.buttonn button {
    padding: 1.1rem 2rem;
    margin-left: 2rem;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgb(188, 126, 115);
    color: rgb(188, 126, 115);
    transition: all .5s;
}
.secondary-box3 {
    border-left: 0.5px solid rgb(210, 205, 205);
    padding-left: 2rem;
    height: 454vh;
}