.second-box{
    margin-bottom: 150px;
    display: block;
}
.primary-box2{
    width: auto;
padding:40px;    
margin: auto;
}
.secondary-box2 {
    width: auto ;
}
.flexbox1{
    margin: auto;
    width: 90vw;
}
.thirdbox{
    margin: auto;

}
.lastimages{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.lastimages img{
    width: 40vw;
}